<form #commentForm="ngForm" (submit)="onSave()">
  <mat-dialog-content>
    <mat-input-container>
      <mat-placeholder>Write a comment</mat-placeholder>
      <textarea matInput
                matTextareaAutosize
                #txtComment="ngModel"
                name="txtComment"
                required
                mdAutosizeMinRows="3"
                mdAutosizeMaxRows="10"
                minLength="1"
                maxLength="500"
                [(ngModel)]="comment"></textarea>
      <mat-hint *ngIf="txtComment.errors && (txtComment.dirty || txtComment.touched)">
        Please write a comment
      </mat-hint>
      <mat-hint align="end">{{comment ? comment.length : 0}} / 500</mat-hint>
    </mat-input-container>
    <mat-select *ngIf="users && users.hasItems"
                #selectUser
                name="selectUser"
                required
                placeholder="User"
                matTooltip="User"
                [(ngModel)]="user">
      <mat-option *ngFor="let user of users.items" [value]="user">
        {{user.firstName}} {{user.lastName}}
      </mat-option>
    </mat-select>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button>Save</button>
  </mat-dialog-actions>
</form>
