<mat-card *ngIf="comments && comments.hasItems; else empty">
  <mat-card-title>
    <span *ngIf="comments.total === 1; else commentsPlural">1 comment</span>
    <ng-template #commentsPlural>
      <span>{{comments.total}} comments</span>
    </ng-template>
  </mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let comment of comments.items; let index = index" class="comment">
        <img *ngIf="comment.author.profileImage" mat-list-avatar
             [src]="comment.author.profileImage"
             alt="Profile picture">
        <div mat-line>{{comment.text}}</div>
        <div mat-line>
          <span class="action" (click)="onDelete(comment, index)">Delete</span>
          |
          <app-user-link [user]="comment.author"></app-user-link>
          |
          <span>{{comment.createdDate|date}}</span>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions *ngIf="articleId">
    <button mat-button (click)="writeComment()">
      Write a comment <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<ng-template #empty>
  <mat-card>
    <mat-card-title>Comments</mat-card-title>
    <mat-card-content>
      <app-empty-list isInline="true" [entity]="'comments'"></app-empty-list>
    </mat-card-content>
    <mat-card-actions *ngIf="articleId">
      <button mat-button (click)="writeComment()">
        Write a comment <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</ng-template>
