@import "~@angular/material/theming";
@include mat-core();
@import "variables";
@include angular-material-theme($app-theme-dark);

body {
  margin: 0;
  background-color: $app-grey-dark;
}

main {
  margin: $app-toolbar-height auto 0;
  max-width: $app-max-content-width;
  padding: $app-gap-normal;
  z-index: 1;
}

.spacer {
  flex: 1;
}

@import "material/toolbar";
@import "material/tab";
@import "material/card";
@import "material/dialog";
